/* Modifications for admin styling */

.dwspc-inner {
    max-width: 70%;
}

.dwspc-item {
    display: block;
    margin: 0.5em 0;
}

.dwspc-item input[type=radio]{
    position: relative;
    top: 1px;
}